version: '3'

services:
  # --- BACKEND (Solo 1 instancia) ---
  backend:
    # Nombre explícito de la imagen para poder exportarla/importarla
    image: galactic-backend:latest
    build: ./proyecto-plc
    container_name: plc_backend
    ports:
      - "3001:3001" # Exponemos directo porque no hay Load Balancer
    environment:
      - PORT=3001
      - PLC_URL=opc.tcp://20.36.0.50:4840 # CAMBIA ESTO SI LA IP ES DIFERENTE
    networks:
      - plc-network

  # --- FRONTEND ---
  frontend:
    # Nombre explícito de la imagen
    image: galactic-frontend:latest
    build:
      context: ./plc-dashboard
      # NOTA: Si la VM tiene una IP específica (ej. 192.168.1.50), 
      # deberías cambiar localhost por esa IP para que tu navegador conecte al backend.
      args:
        - VITE_API_URL=http://20.36.0.145:3001
    container_name: plc_frontend
    ports:
      - "3000:80"
    networks:
      - plc-network

networks:
  plc-network:
    driver: bridge
