version: '3'
services:
  # --- HOST 1 ---
  backend1:
    build: ./proyecto-plc
    container_name: host1_backend
    environment:
      - PORT=3001
    networks:
      - plc-network

  # --- HOST 2 ---
  backend2:
    build: ./proyecto-plc
    container_name: host2_backend
    environment:
      - PORT=3001
    networks:
      - plc-network

  # --- HOST 3 ---
  backend3:
    build: ./proyecto-plc
    container_name: host3_backend
    environment:
      - PORT=3001
    networks:
      - plc-network

  # --- LOAD BALANCER (El "Router") ---
  loadbalancer:
    image: nginx:alpine
    container_name: loadbalancer
    volumes:
      - ./nginx-lb/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80" # Accedemos al cluster por el puerto 8080
    depends_on:
      - backend1
      - backend2
      - backend3
    networks:
      - plc-network

  # --- FRONTEND (Dashboard) ---
  frontend:
    build: 
      context: ./plc-dashboard
      args:
        - VITE_API_URL=http://localhost:8080 # El frontend se conecta al Load Balancer
    container_name: frontend_dashboard
    ports:
      - "3000:80"
    depends_on:
      - loadbalancer
    networks:
      - plc-network

networks:
  plc-network:
    driver: bridge
